@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html,
body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
:root {
  --container-bg-color: #ededed;
  --primary-text-color: #000000;
  --secondary-text-color: #404040;
  --primary-display-bg-color: #c6d4db;
  --accent-text-color: #000000;
  --ac-btn-bg-color: #abd88f;
  --ac-btn-bg-hover: #a4d078;
  --primary-btn-bg-color: #dce3ea;
  --primary-btn-bg-hover: #c6d4db;
  --secondary-btn-bg-color: #b9d5f5;
  --secondary-btn-bg-hover: #aec9f7;
  --sub-menu-hover-bg-color: #d6d4d4;
  --theme-toggle-bg-color: #1a1a1a;
  --theme-toggle-stroke-color: #ededed;
}
[data-theme="dark"] {
  --container-bg-color: #1a1a1a;
  --primary-text-color: #fffdea;
  --secondary-text-color: #dedcca;
  --primary-display-bg-color: #495a62;
  --accent-text-color: #222222;
  --ac-btn-bg-color: #b4dc9b;
  --ac-btn-bg-hover: #a4d078;
  --primary-btn-bg-color: #222222;
  --primary-btn-bg-hover: #444444;
  --secondary-btn-bg-color: #619dd4;
  --secondary-btn-bg-hover: #69a9e6;
  --sub-menu-hover-bg-color: #222222;
  --theme-toggle-bg-color: #ededed;
  --theme-toggle-stroke-color: #1a1a1a;
}
button {
  outline: none;
}
.theme-toggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
  fill: var(--theme-toggle-bg-color);
  stroke: var(--theme-toggle-stroke-color);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "input-output input-output input-output input-output"
    "input-output input-output input-output input-output"
    "input-output input-output input-output input-output"
    "sub-menu-one sub-menu-one sub-menu-one sub-menu-one"
    "ac parenthesis percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero decimal backspace equal";
  background: var(--container-bg-color);
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-text-color);
}
.input-output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "input input input input"
    "input input input input"
    "output output output output";
  font-size: 1.5rem;
  grid-area: input-output;
  border-radius: 0px 0px 20px 20px;
  background: var(--primary-display-bg-color);
}
.sub-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "square-root pi power factorial"
    "sin cos tan log";
  grid-area: sub-menu-one;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.8rem;
}
.sub-menu-hover:hover {
  background: var(--sub-menu-hover-bg-color);
}
.input {
  text-align: right;
  grid-area: input;
  background: inherit;
  padding-right: 15px;
  font-size: 4rem;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  color: inherit;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: output;
  text-align: right;
  font-size: 2rem;
  background: inherit;
  border-radius: 0px 0px 20px 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
}
.button {
  border-radius: 20px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background: transparent;
  color: inherit;
}
.button:active {
  border-radius: 10px;
}
.primary-btn {
  background: var(--primary-btn-bg-color);
  color: var(--primary-text-color);
}
.primary-btn:hover {
  background: var(--primary-btn-bg-hover);
}
.secondary-btn {
  background: var(--secondary-btn-color);
  color: var(--accent-text-color);
}
.secondary-btn:hover {
  background: var(--secondary-btn-bg-hover);
}
.square-root {
  grid-area: square-root;
}

.sin {
  grid-area: sin;
}

.pi {
  grid-area: pi;
}

.cos {
  grid-area: cos;
}

.power {
  grid-area: power;
}

.tan {
  grid-area: tan;
}

.factorial {
  grid-area: factorial;
}

.log {
  grid-area: log;
}

.ac {
  grid-area: ac;
  background: var(--ac-btn-bg-color);
  color: var(--accent-text-color);
  margin-left: 10px;
}
.ac:hover {
  background: var(--ac-btn-bg-hover);
}

.seven {
  grid-area: seven;
  margin-left: 10px;
}

.four {
  grid-area: four;
  margin-left: 10px;
}

.zero {
  grid-area: zero;
  margin-bottom: 10px;
  margin-left: 10px;
}

.decimal {
  grid-area: decimal;
  margin-bottom: 10px;
}

.backspace {
  grid-area: backspace;
  margin-bottom: 10px;
}

.equal {
  grid-area: equal;
  background: var(--secondary-btn-bg-color);
  margin-right: 10px;
  margin-bottom: 10px;
}

.multiply {
  grid-area: multiply;
  background: var(--secondary-btn-bg-color);
  margin-right: 10px;
}

.subtract {
  grid-area: subtract;
  background: var(--secondary-btn-bg-color);
  margin-right: 10px;
}

.add {
  grid-area: add;
  background: var(--secondary-btn-bg-color);
  margin-right: 10px;
}

.divide {
  grid-area: divide;
  background: var(--secondary-btn-bg-color);
  margin-right: 10px;
}

.percentage {
  grid-area: percentage;
  background: var(--secondary-btn-bg-color);
}

.parenthesis {
  grid-area: parenthesis;
  background: var(--secondary-btn-bg-color);
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}

.one {
  grid-area: one;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  body {
    background-color: #2b3f56;
    height: 100vh;
  }
  .container {
    height: 70vh;
    width: 60vw;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
  }

  .input {
    padding-right: 15px;
    border-radius: 20px 20px 0px 0px;
  }
  .input-output {
    font-size: 1.5rem;
    border-radius: 20px 20px 20px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 90vh;
    width: 55vw;
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    height: 70vh;
    width: 30vw;
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
}
